
    <header id="header" style="">
        
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <h2 style="position: relative;top: -10px;font-weight: bold;">Shootro</h2>
                    </a>
                </div>
            </div>
        </nav>
      @*  <div class="row" style="height:20px"></div>*@
 </header>
    <!--/#header-->
@*<div class="container">
    <div class="row">
        <div class="col-sm-12 overflow">
            <div class="social-icons pull-right">
                <ul class="nav nav-pills">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>*@




<div class="row" id="gplace" ng-controller="myController">
    <div class="row" ng-controller="myController" style="height:{{winHeighthalf}}px;"></div>

    <div class="row"  style="height:1000px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            @*<input id="pac-input" ng-model="searchMap" ng-enter name="pac-input" class="controls" type="text" placeholder="Enter a location" />*@

            <p style="font-size:100px;text-align:center;padding-bottom:40px;">Shootra</p>
           @* <input ng-conroller="myController" id="autocomplete" type="text" name="field1" class="field-divided" g-places-autocomplete ng-model="myScopeVar" size="70" placeholder="Enter a location" />*@
       <div class="row" id="mapMoves">
             <div id="incept" class="main-slider search searchLocal col-sm-12 animate-in" style="height:450px;border-left:0px;border-right:0px;">


                <input id="pac-input" ng-model="searchMap" ng-enter name="pac-input" class="controls" type="text" ng-value="auto" />

                <div my-map name="map" id="map" class="col-md-12" style="height:60%;">

                </div>

          
                <div class="row"><div class="col-md-12" style="height:20px"></div></div>

                <div class="row">
                    <div id="addServiceButton" class="col-md-12" hidden>
                        <button id="btnService" class="btn btn-success btn-block" ng-click="serviceAdding()" style="height:40px;display:block;font-size:18px;color:white;border:0px;text-emphasis:none">Didn't find the service you are looking for? Click to add</button>
                    </div>
                </div>

                <div class="row"><div class="col-md-12" style="height:20px"></div></div>



                <div class="row" id="serviceForm" hidden>




                    <div id="serviceFormPanel" class="panel" style="">
                        <div id="servicePanelHead" class="row panel-heading" style="background-color:#c9e1c9;color:darkgreen;margin-left:15px;margin-right:15px;"><a href="#" style="text-decoration:none;color:darkgreen;">Add New Services/Products</a></div>
                        <div class="panel-body" style="background-color:#efefef;margin-left:15px;margin-right:15px;">
                            <form ng-submit="submitOne()" style="align-content:center;">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label>Service/Product Name</label>
                                        <input type="text" name="name" class="form-control" ng-model="serviceName" required />
                                        @*<span style="background-color:brown; width:250px" ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Service/Product name is required.</span>*@
                                    </div>
                                </div>
                                @*<div class=" row form-group">
                            <div class="col-md-12">*@
                                <label>Rating</label>

                                <input-stars max="5" icon-full="fa-star" icon-base="fa fa-fw" icon-empty="fa-star-o" ng-model="last_value"></input-stars>

                                @*</div>
                            </div>*@
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label>Comment</label>
                                        <textarea type="text" class="form-control" ng-model="userComment"></textarea>
                                    </div>
                                </div>
                                <div class=" row form-group">
                                    <div class="col-md-12">
                                        <input type="submit" class=" btn form-control" style="background-color:#c9e1c9;" value="Add" />
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>



                </div>


                <div class="row">
                    <div class="col-md-12" id="serviceCollection" style="">

                    </div>
                </div>


                @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiyrLMZ0W6zBGFpzBQcSsqpoMsxKSFBUc&signed_in=true&libraries=places" async defer></script>*@
                 <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
            </div>
           
         </div>

        </div>
        <div class="col-sm-3"></div>
    </div>
</div>







    <section id="home-slider" style="background-color:white;border-radius:3px 4px;border:0px; margin:20px 20px 20px 20px;">
        
            <div class="row" id="mapMovesIn">
               
                        
                    
                 

                        <div id="follow" class="panel col-sm-6" hidden>
                             <div class="col-sm-12"  id="commentsDiv" style="height:60%;background-color:#efefef;border:0px">
                               
                                 <div class="panel-heading" role="tab"  style="background-color:#c9e1c9">
                                     <h4 class="panel-title">
                                            Reviews
                                     </h4>
                                 </div>
                                  <div class="row" id="serviceDet" hidden></div>
                                            <div class="row" id="md-user-input" style="overflow-x:hidden;background-color:#efefef;">


                                            </div>
                                            <div id="md-form-input" class="row" style="overflow-x:hidden;background-color:#efefef;">

                                            </div>
                                            <div id="commentPublish" class="row" style="height:113px;overflow-x:hidden;background-color:#efefef;">

                                            </div>
                                 

                                 <div class="row" style="height:20px;background-color:white;"></div>


                                <div id="md-title-comments" class="row btn-warning btn-large" style="height:40px;font-size:18px;overflow-x:hidden;color:white;border-radius:3px 3px;text-align:center;overflow-x:hidden;overflow-y:hidden">
                                    <i class="fa fa-comments" style="padding-top:10px;font-size:16px;"></i>&nbsp;Comments&nbsp;<i class="fa fa-comments" style=""></i>
                                </div>


                                 <div class="row" style="height:20px;background-color:white;"></div>


                                <div id="animatedDiv" class="row animatedDiv" style="height:100%;overflow-x:hidden;background-color:white;border:0px;overflow-y:hidden">


                                </div>
                                 <div id="animatedDivServices" class="row animatedDiv" style="height:100%;overflow-x:hidden;background-color:white;border:0px;overflow-y:hidden">


                                 </div>

                            </div>
                        </div>


                   
               
            </div>
        
        
    </section>
    <!--/#home-slider-->

