

    <!-- Example row of columns -->
    <div class="row" style="margin-top:50px;margin-bottom:30px;height:574.545px;">
        
         <div class="col-md-6 search searchLocal" style="height:100%;">
                
                     
                        
                             <input id="pac-input" ng-model="searchMap" ng-enter name="pac-input" class="controls" type="text" placeholder="Enter a location" />
                                    
                    <div my-map name="map" id="map" class="col-md-12" style="height:60%;">
                        
                    </div>
                



                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiyrLMZ0W6zBGFpzBQcSsqpoMsxKSFBUc&signed_in=true&libraries=places" async defer></script>
             
         </div>
        







        <div class="col-md-6" style="height:100%;">
            
                <div class="panel panel-primary">
                    <div id="placeName" class="panel-heading"><h4>Reviews</h4><span></span></div>
                    <div class="panel-body" id="commentsDiv">

                        <md-content id="md-user-input" style="overflow-x:hidden">


                        </md-content>
                        <md-content id="md-form-input" style="height:100px;overflow-x:hidden;">

                        </md-content>
                        <md-content id="commentPublish" style="height:100px;overflow-x:hidden;">

                        </md-content>
                        <md-content id="md-title-comments">
                            <button class="btn btn-large btn-block" disabled><h5><i class="fa fa-comments"></i>Comments<i class="fa fa-comments"></i></h5></button>
                        </md-content>
                        <md-content id="animatedDiv" class="animatedDiv"  style="height:100%;overflow-y:hidden">
                           
                            
                        </md-content>

                </div>
            </div>


         </div>
    </div>
    <div class="row">
        <div class="col-md-6" id="serviceCollection" style="">

        </div>
    </div>
    <div class="row">
        @*ng-if="mapform.pac-input.$touched"*@
        <div class="col-md-6 well"   style="height:200px; color:darkslateblue">
            <div class="search searchLocal" style="height:15px;" ng-repeat="entity in entities">
                
                <span style="height:15px;"><code>PlaceId: {{entity.PlaceId}} | Name: {{entity.Name}} | Rating: {{entity.Rating}} | Comments: {{entity.Comments}}</code></span>
                
            </div>
        </div>
    </div>



    <div class="row" id="serviceForm">
    
        <div class="col-md-4" style="height:400px;">
        

            <div class="panel panel-default" style="margin-left:10px;" id="userFormPanel">
                <div class="panel-heading"><h4>Add New Services/Products</h4></div>
                <div class="panel-body">
                    <form ng-submit="submitOne()">
                        <p class="form-group">
                            <label>Service/Product Name:</label>
                            <input type="text" name="name" class="form-control" ng-model="serviceName" required />
                            <span style="background-color:brown; width:250px" ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Service/Product name is required.</span>
                        </p>
                        <p class="form-group">
                            <label>Rate:</label>
                            <div style="height:20px;">

                                <input-stars max="5" class="col-md-12" icon-full="fa-star" icon-base="fa fa-fw" icon-empty="fa-star-o" ng-model="last_value"></input-stars>


                            </div>
                        </p>
                        <p class="form-group">
                            <label>Add Comment:</label>
                            <textarea type="text" class="form-control" ng-model="userComment"></textarea>
                        </p>
                        <p class="form-group">

                            <input type="submit" class=" btn btn-primary form-control"  value="Add" />
                        </p>

                    </form>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            
            @*<div class="col-md-4" id="userCreatedEntry">
                <button type="button" ng-controller="myController" class="btn btn-default" ng-click="open('lg')">Small modal</button>
            </div>*@
        </div>

    <div class="row" >
        <div class="col-md-8" id="newCompany" style="height:200px;"></div>


    </div>

            


        <hr>
       
































